/* Color palette: #22223B, #21253D, #4A4E69, #9A8C98, #C9ADA7, #F2E9E4 */

:root {
  --color-darkblue: #22223B;
  --color-blue: #21253D;
  --color-bluegray: #4A4E69;
  --color-beige: #9A8C98;
  --color-lightbeige: #C9ADA7;
  --color-whitebeige: #F2E9E4;
  --lightfont-color: #fff;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-darkblue);
}
h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
a {
  color: var(--color-bluegray);
}
a:visited {
  color: var(--color-blue);
}
a:hover, a:focus {
  text-decoration: none;
}
a:active {
  color: var(--color-beige);
}
button,
input[type="submit"],
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: var(--lightfont-color);
  background-color: var(--color-bluegray);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
  transition-property: background-color;
}
button, input[type="submit"]:hover,
.button:hover  {
  background-color: var(--color-beige);
}
.navigation-list__item--active {
  text-decoration: none;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  text-align: justify;
}
.profile_info {
  margin: 10px;
}
.profile__portrait {
  float: left;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-right: 40px;
  border-radius: 50%;
}
.page-footer {
  clear: both;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile__text {
  flex: 1 1 100px;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
  width: 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid  var(--color-beige);
  text-align: center;
}
th,
td {
  padding: 10px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .profile_img
  {
    width: 300px;
    height: auto;
    max-width: 400px;
    margin-right: 40px;
    border-radius: 50%;
  }
}